@font-face {
    font-family: 'buyCat';
    src: url('assets/Buycat.ttf') format('truetype');
}

.buyCat {
    font-family: 'buyCat', sans-serif;
}

@font-face {
    font-family: 'superMagic';
    src: url('assets/Super Magic.ttf') format('truetype');
}

header {
    font-family: 'buyCat', sans-serif;
    font-size: 32px;
}

article {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Helvetica, Sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

.page {
    width: 100vw;
    height: 100vh;
    perspective: 1px;
    perspective-origin: center center;
    overflow-x: hidden;
}

#parallax {
    transform-style: preserve-3d;
    height: 120vh;
}

.keyart_layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#keyart-0 {
    background-image: url('assets/BackgroundVerde.png');
    background-color: #ffaf1b;
    transform: translate3d(-11px, -46px, -1.3px) scale(2.3);
}

#keyart-1 {
    background-image: url('assets/BackgroundRoxo.png');
    transform: translate3d(0, -47px, -.7px) scale(1.7);
}

#keyart-2 {
    background-image: url('assets/BackgroundVermelho.png');
    transform: translate3d(0, -98px, -.4px) scale(1.6);
}