@font-face {
    font-family: 'buyCat';
    src: url('assets/Buycat.ttf') format('truetype');
}

.buyCat {
    font-family: 'buyCat', sans-serif;
}

@font-face {
    font-family: 'superMagic';
    src: url('assets/Super Magic.ttf') format('truetype');
}

h1 {
    font-family: 'buyCat', sans-serif;
    font-size: 32px;
    font-size: 8vw;
}

p {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
}

body {
    margin: 0;
    background-color: #ffffff;
}

.section1 {
    display: flex;
    width: 100%;
    background-image: url('assets/BackgroundVermelho.png');
    background-size: 100% 100%;
}

.interno {
    position: absolute;
    display: flex;
}

.flex-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-left: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}